/* login form */
.ui.stacked.segment {       
    padding-bottom: 5em;
    padding-top: 3em;
    background-color: #042635;
}

.ui.vertical.segment {
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-bottom: 40px solid transparent;
}  



/* below login form */
/* .ui[class*="internally celled"].grid {
    background-color: #042635;
    color: rgba(255,255,255,.9);
} */



.belowLoginForm{
    color: white;
    background-color: #042635;
}





